@import url("http://mediacdn.disqus.com/1326940420/build/system//defaults.css");
@import url("http://mediacdn.disqus.com/1326940420/build/themes/dsq7884a9652e94555c70f96b6be63be216.css?126");

#disqus_thread {
  //background-color: rgba(64,64,64,0.33);
  position:fixed;
  left:1px;
  bottom:17px;
  padding:0.5em;
  border:2px solid #404040;
  h3 {
    font-weight:normal;
    font-family:tahoma;
    font-size:10pt;
  }
}
#dsq-content #dsq-footer, .dsq-reply, #dsq-content #dsq-global-toolbar, #dsq-content h3 {margin:0;}
.dsq-textarea-reply {margin-bottom:2px;}
a.dsq-subscribe-email em, a.dsq-subscribe-rss em {text-decoration:none;}

.twitter-share-button {
  margin-left:-28px;
}
