#grammer {
  #grammer-sequence {
    pre {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .diagram {
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    }
    #wide-diag {
      .sequence-diagram {
        .object .name {
          min-width: 64px;
          border-radius: 3px;
        }
      }
    }
  }  
}
