@import url(http://fonts.googleapis.com/css?family=Coda:800)
@import "commons"


.alert-message {opacity:0.94;}
.site-color {site_color_0;}
#Whats_JUMLY {
  #we-think-something {
    .usecase .name {text-align:center; margin-top:1.2em;}
    .usecase:nth-child(2) {margin-top:6em; margin-left:6em;}
    .actor:nth-child(1) {margin-top:3em;}
  }
  #you-write-your-idea {
    .object:nth-child(2) {
      left:44px;  //FIXME: HaveToFix ingnoring this at r1798
    }
    .Styled-Node {
      .name {font-weight:bold;padding:0 1em;@include border_radius(3px);border-color:$BLUE;}
    }
  }
}
#Did_you_have_these_experiences, #why_you_use_jumly {
  li,dd {margin-bottom:1.2em;}
}

