textarea#jumlipt {
  width: 100%;
  font-family: Monaco, 'Courier New';
  font-size: 9pt;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.2);
}
#link-to-share {
  position: absolute;
  right: 0;
  top: 40px;
  margin: 2px;
}
#url-to-show .short, #url-to-show .long {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.alert-message.block-message {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  margin: 0px;
}
.tutorial .alert-message.block-message {
  visibility: hidden;
}
.bottombar {
  background-color: rgba(39,39,39,1.0);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px;
  color: #BFBFBF;
}
.modal img {
  border: solid 1px rgba(128,128,128,0.7);
  box-shadow: 3px 2px 3px 2px rgba(128,128,128,0.7);
}

#tutorial {
  z-index:10;
  position:absolute;
  right:2px;
  bottom:2px;
  width:520px;
  $bg0:80;
  $bg1:128;
  $bg2:240;
  background-color: rgba($bg0,$bg0,$bg0,0.5);
  padding:0.5em;
  border-radius:3px;
  .welcome, .step1, .step2, .step3 {
    background-color: rgba($bg1,$bg1,$bg1,0.7);
    border-radius:4px;
    padding:0.5em;
    margin-bottom:2px;
  }
  .active {
    background-color: rgba($bg2,$bg2,$bg2,1.0);
    color:#404040;
    text-shadow:1px 1px white;
  }
}

.top-right {
  right:0;
  top:0;
  margin:4px 4px 0 0;
}
