.note .inner {
  padding:4px;
  border-left:1px solid gray;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  width:180px;
  min-height:64px;
  background-color:rgba(0,64,128,0.4);
}
.note .edge {
  position:absolute;
  left:209px;
  margin-top:-53px;
  border-right:solid 1px gray;
  border-bottom:solid 1px gray;
  border-bottom-right-radius:4px;
  width:20px;
  height:52px;
  background-color:rgba(0,64,128,0.4);
}
.note .fold {
  position:absolute;
  left:206px;
  margin-top:-73px;
  border-top:solid 16px transparent;
  border-bottom:solid 16px transparent;
  border-right:solid 16px rgba(0,64,128,0.6);
  -webkit-transform:rotate(-45deg);
}
