.checkbox {
  display:inline-block;
  width:auto;height:auto;
  input {display:none;}
  label {
    margin:0;padding:0;width:auto;height:auto;
    border:1px solid #808080;
    border-radius:3px;
    $mc_from: #f0f0f0;
    $mc_to  : #ffffff;
    background-color: $mc_to;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from($mc_from), to($mc_to));
    background-image: -webkit-linear-gradient($mc_from, $mc_to);
  }
  &.h {
    .on, .off {display:inline-block;}
  }
  .on, .off {
    min-width:40px;
    text-align:center;
    text-shadow:1px 0px #a0a0a0;
    color:#606060;
    margin:0;
    font-weight:bold;
    padding:2px; 
    line-height:20px;
    height:20px;
    &.active {
      color:white;
      background-color:rgba(255,255,255,0);
      $mc_from: #808080;
      $mc_to  : #404040;
      background-color: $mc_to;
      background-repeat: no-repeat;
      background-image: -webkit-gradient(linear, left top, left bottom, from($mc_from), to($mc_to));
      background-image: -webkit-linear-gradient($mc_from, $mc_to);
    }
  }
}


.aqua {
  position:relative;
  width:80px;
  height:80px;
  display:block;
  border:1px solid rgba(0,0,0,0.5);
}
.aqua {
  border-radius:300px;
}
.aqua {
  background: -webkit-radial-gradient(50% 80%, circle, #00D1F2, #0055C1);
}
.aqua {
  box-shadow: 0 2px 6px rgba(0,0,0,0.5),
              0 2px 10px rgba(0,100,255, 0.7),
              inset 0 0 10px rgba(0,0,150,0.6);
}
.aqua .highlight {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(250, 250, 255, 1) 0%, rgba(250, 250, 255, 0.7) 10%, rgba(250, 250, 255, 0) 100%);
  z-index: 3;
  top: -15px;
  -webkit-transform: scale(0.8, 0.6);
}
.aqua {
  -webkit-box-reflect: below -90px -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
}
.aqua .text {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(255, 255, 255, 1);
  z-index: 1;
  display:table-cell;
  text-align: center;
  vertical-align:middle;
  width:80px;
  height:80px;
}
a.aqua {
  text-decoration:none !important;
}
.aqua .text {
  font-family: Tahoma;
  font-weight: bold;
}
