doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="keywords", content="js,uml,sequence,diagram,javascript,coffee-script,css,svg,jquer,css3,html5")
    - var __description = "";
    block title
    block description
      meta(name="description", content="#{__description}")
    !=css('jumly')
    block styles
  body
    block navbar
    block content
    script(src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js")
    :coffeescript
      Raven.config('https://c2e92a5a2b1c4f5392c8246abe963478@app.getsentry.com/14921', {whitelistUrls: [/example\.com/]}).install()
    script(src='/public/js/coffee-script.js')
    script(src='/public/js/jquery.js')
    script(src='/public/js/knockout.js')
    include ../_includes/syntaxhighlighter
    !=js('jumly')
    block scripts
    script(src='/public/js/_ga.js')
