
footer
  padding-top 30px
  padding-bottom 60px
  THICK-DARK()

.copyright
  text-align center
  font-size smaller

_A_BG()
  background-color #ddd
  border 1px solid rgba(0,0,0,0.2)
  margin 15px 0
  border-radius 5px
  padding 10px 20px
  position relative

_L_HEADER()
  background-color #333
  color white
  padding 8px 10px
  border 1px solid #111
  border-radius 4px

_M_HEADER()
  background-color #690
  color white
  padding 8px 10px
  border-radius 4px
