/* Monotone-style */
@import "../_commons";

$darkgray: #444;
$c1: lighten($darkgray, 65%);

.sequence-diagram.theme-monotone {
    .object .name {
        @include border_radius(6px);
        background-color: $c1;
        text-shadow: 2px 0px white;
    }
    .message {
        .name {
            color: white;
            background-color: $darkgray;
            padding: 0.25em 0.5em 0.5em 0.5em;
            @include border_radius(6px);
            opacity: 0.66;
            @include box_shadow;
            border: 1px solid black;
        }
    }
}

