/*
 * Stylesheet for Windows.
 */
.Windows {
   //.catchphrase {font-family:'Cabin';}
   //.diagram {font-family: 'Hammersmith One';}
   //body pre {font-size: 12px; font-family: 'Droid Sans Mono';}
   body p {font-size: 14px;font-family: 'Arial';}
}
