extends _layouts/default

block styles
  :stylus
    @import common
  link(rel='stylesheet', href="/public/bootstrap/docs/assets/css/bootstrap-responsive.css")
  style
    .diagram {
      margin-left: auto;
      margin-right: auto;
    }
    .diagram-container { margin-top: 1em; }
    .back-to-home {
      text-align: center;
      margin-top: 1em;
    }

block content
  .container
    .row
      .span12
        .diagram-container
          :jumly(type=sequence)
            @found "You", ->
              @message "GET #{path}", "JUMLY", ->
                @reply "404"
      
      .span12
        .back-to-home
          |Not Found: #{path}<br>
          a(href="/") Back to home
