- bootstrap_dir = "bootstrap/"
script(src:"#{bootstrap_dir}/js/bootstrap-alert.js")
script(src:"#{bootstrap_dir}/js/bootstrap-tooltip.js")
script(src:"#{bootstrap_dir}/js/bootstrap-modal.js")
script(src:"#{bootstrap_dir}/js/bootstrap-dropdown.js")
