/-- include scripts for bootstrap --
%script{src:"/assets/bootstrap/js/bootstrap-alerts.js"}
%script{src:"/assets/bootstrap/js/bootstrap-twipsy.js"}
%script{src:"/assets/bootstrap/js/bootstrap-modal.js"}
