.page-header
  %h1 Credit
.row
  .span7
    %p I admire and appriciate them. Great thanks.
  
    %p
      %a{href:'http://jquery.com/'}jQuery<br/>
      JavaScript Library
    %p
      %a{href:'http://twitter.github.com/bootstrap/'}bootstrap, from Twitter<br/>
      Kickstart developmenet of webapps and sites
    %p
      %a{href:'http://jashkenas.github.com/coffee-script/'}CoffeeScript<br/>
      Language to write JUMLY
    %p
      %a{href:'http://pivotal.github.com/jasmine/'}Jasmine<br/>
      BDD JavaScript test framework
    %p
      %a{href:'http://alexgorbatchev.com/SyntaxHighlighter/'}SyntaxHighlighter<br/>
      Code highlighting
    %p
      %a{href:"http://pow.cx/"}Pow<br/>
      Pow is a zero-config Rack server for Mac OS X. Have it serving your apps locally in under a minute.
    %p
      %a{href:"http://rubyonrails.org/"}Ruby on Rails<br/>
      Web development that doesn't hurt.
    %p
      %a{href:"http://haml-lang.com/"}Haml.<br/>
      All of Hashrocket’s new projects are done in Haml, and we’ve now decided to transition everything else in our portfolio over to Haml as soon as possible.
    %p
      %a{href:"http://www.sinatrarb.com/"}Sinatra<br/>
      Sinatra is a DSL for quickly creating web applications in Ruby with minimal effort.
    %p
      %a{href:"http://knockoutjs.com/"}Knockout<br/>
      Simplify dynamic JavaScript UIs by applying the Model-View-View Model (MVVM) pattern.
    %p
      %a{href:"http://sass-lang.com/"}Sass<br/>
      Sass makes CSS fun again. Sass is an extension of CSS3, adding nested rules, variables, mixins, selector inheritance, and more.
