.page-header
  %h1 Credit
.row.span16.columns
  %p.span16.columns
    I admire and appriciate them. Great thanks.

.row.span16.columns
  .span3.columns
    %a{href: 'http://jquery.com/'}jQuery<br/>
    JavaScript Library
  .span3.columns
    %a{href: 'http://twitter.github.com/bootstrap/'}bootstrap, from Twitter<br/>
    Kickstart developmenet of webapps and sites
  .span3.columns
    %a{href: 'http://jashkenas.github.com/coffee-script/'}CoffeeScript<br/>
    Language to write JUMLY
  .span3.columns
    %a{href: 'http://pivotal.github.com/jasmine/'}Jasmine<br/>
    BDD JavaScript test framework
  .span3.columns
    %a{href: 'http://alexgorbatchev.com/SyntaxHighlighter/'}SyntaxHighlighter<br/>
    Code highlighting
  
.row.span16.columns{style:"margin-top:1em;"}
  .span3.columns
    %a{href: "http://pow.cx/"}Pow<br/>
    Pow is a zero-config Rack server for Mac OS X. Have it serving your apps locally in under a minute.
  .span3.columns
    %a{href: "http://rubyonrails.org/"}Ruby on Rails<br/>
    Web development that doesn't hurt.
  .span3.columns
    %a{href:"http://haml-lang.com/"}Haml.<br/>
    All of Hashrocket’s new projects are done in Haml, and we’ve now decided to transition everything else in our portfolio over to Haml as soon as possible.      
  .span3.columns
    %a{href:"http://www.sinatrarb.com/"}Sinatra<br/>
    Sinatra is a DSL for quickly creating web applications in Ruby with minimal effort.