#Gettring_Started.span16.columns
  %h2 Getting Started
  %p To draw in your HTML document, put below tags in your &lt;head> |
    in order to load the script and stylesheet of JUMLY. |
  %pre{class: 'brush: html'}
    :preserve
      &lt;link type='text/css' rel='stylesheet' href='jumly-min.css'/>
      &lt;script type="text/javascript" src="jumly.loader.js">&lt;/script>
  %p Put the next &lt;script> tag at the place you want to draw. |
    The diagram will be inserted after ths script element. |
  %pre{class: 'brush: html'}
    :preserve
      &lt;script type='text/jumly+sequence'>
      @found "You", ->
        @message "meet", "JUMLY"
      &lt;/script>

  %p
    <em> Congraturation! </em>
  %p
    You'll get like the right diagram.
    You are ready to use JUMLY.
  %p  
    %script{type: 'text/jumly+sequence'}
      :plain
        @preferences compose_most_left: 0
        @found "You", ->
          @message "meet", "JUMLY"

.span16.columns
  %p Here is a minimal working sample and <a href='/minimal-working-sample.html'>donwload it from here</a>.
  %pre{class: 'brush: html'}
    :preserve
      &lt;!DOCTYPE html>
      &lt;html>
      &lt;head>
      &lt;script type="text/javascript" src="jumly.loader.js">&lt;/script>
      &lt;style>body { font-size: 13px; color: gray; }&lt;/style>
      &lt;/head>
      &lt;body>
      &lt;script type='text/jumly+sequence'>
      @found "You", ->
          @message "meet", "JUMLY"
      &lt;/script>
      &lt;/body>
      &lt;/html>
      
