//-#-- meta --
meta(charset='utf-8')
meta(name="viewport",content="width=device-width,initial-scale=1.0")
!= js('jumly')
link(type='text/css',rel='stylesheet',href="bootstrap/docs/assets/css/bootstrap.css")
