/-- meta --
%meta{charset: 'utf-8'}
%meta{name: 'generator', content: 'VIM version 7.2.108'}
%meta{name: "author", content: "Tomotaka Sakuma"}
%meta{name: "description", content: ""}
%meta{name: "keywords", content: "JUMLY,UML,jQuery,css,css3,html5,html5/css3,CoffeeScript,sequence-diagram,usecase-diagram,class-diagram,getting started,tutorial,what's JUMLY?,text/jumly+sequence,text/jumly+usecase,text/jumly+class"}
/-- JUMLY --
%link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/jumly.css"}
%script{type: "text/javascript", src: "#{$js_dir}/application.js"}
/-- css --
%link{type: 'text/css', rel: 'stylesheet', href: "#{$vendor_dir}/bootstrap/bootstrap.min.css"}
%link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/jumly-core.css"}
/-- legacy --
:coffeescript
  ## Tooltip funciton
  $_body = $("body")
  _twipsy = (text, target = $_body) ->
    tip = $("<div>").addClass("twipsy")
                    .append($("<div>").addClass("twipsy-arrow"))
                    .append($("<div>").addClass("twipsy-inner").html(text))
    tip.appendTo target
    tip
  $.jumly.vendor =
    bootstrap:
      twipsy: _twipsy
  $.fn.twipsy = (text, pos) ->
    t = _twipsy text, @parent()
    t.alignAt this, pos
  
