.page-header{style: 'display:none;'}
  %h1 Introduction <small> Brief what JUMLY is, getting started, why you use</small>

-#-- What's JUMLY?  ===========================================================
%section#Whats_JUMLY.row
  .span12
    %h2 What's JUMLY?
    %p JUMLY is a JavaScript library, UML diagram rendering engine.
    %p Using JUMLY, you can easily embed UML diagram on your HTML document.  
    %p All you need are just two in order to use JUMLY.
    %ul
      %li Text editor you get used to use.
      %li Modern browser like WebKit-base brwoser and Opera.<br> |
          (now planning it works on other browsers, especially Firefox.) |
  .row
    .span6#we-think-something
      %script{type:'text/jumly+usecase'}
        @usecase 1:"Think something"
        @usecase "Render diagram":extend:[1]
        @actor "You":use:[1]
        @before (e, d)-> d.addClass("layout-a")
    .span6
      %pre{class: 'brush: html'}
        :preserve
          &lt;script type='text/jumly+usecase'>
            @usecase 1:"Think something"
            @usecase "Render Diagram":extend:[1]
            @actor "You":use:[1]
          &lt;/script>
  .row
    .span6#you-write-your-idea
      %script{type: 'text/jumly+sequence'}
        :plain
          delete JUMLY.Diagram.isRefExisting
          @preferences compose_most_left:0, compose_span:32
          @found "You", ->
            @message "Think", ->
              @message "Write<br/>your idea", "JUMLY", ->
                @create "Styled Node"
            @beforeCompose (e, diag) ->
              diag["styled_node"].find(".name").addClass("site-color").end()
                                 .addClass("Styled-Node")
                                 .css("margin-left":-30)
            @afterCompose (e, d) ->
              d.css "line-height":1
              d.find(".create .name").css "margin-top":30, "margin-left":20
              d.find(".message:eq(1) .name").css "margin-top":15
    .span6
      %pre{class: 'brush: html'}
        :preserve
          &lt;script type='text/jumly+sequence'>
            @found "You", ->
              @message "Think", ->
                @message "Write your idea", "JUMLY", ->
                  @create "Styled Node"
          &lt;/script>

-# Getting Started ============================================================
%section#Getting_Started.row
  .span12
    %h2 Getting Started
  .span6
    %p To render in your HTML document, put below tags in your &lt;head> section.
    %pre{class: 'brush: html'}
      :preserve
        &lt;link href='jumly.min.css' rel="stylesheet"/>
        &lt;script src='jquery.min.js'>&lt;/script>
        &lt;script src='coffee-script.js'>&lt;/script>
        &lt;script src='jumly.min.js'>&lt;/script>
    %p Put the next &lt;script> tag at the place you want to render. |
      The diagram will be inserted after ths script element. |
    %pre{class: 'brush: html'}
      :preserve
        &lt;script type='text/jumly+sequence'>
        @found "You", ->
          @message "meet", "JUMLY"
        &lt;/script>
    %p
      You'll get a diagram like the right.
      You are ready to use JUMLY.
  .span6
    %p
      %script{type: 'text/jumly+sequence'}
        :plain
          @preferences compose_most_left: 0
          @found "You", ->
            @message "meet", "JUMLY"
    %p.center <a href='/min-working.html'>Here</a> is a minimal working sample.
      
-# Did you have these experiences?  ===========================================
%section#Did_you_have_these_experiences.row
  %h2.span12 Did you have these experiences?
  .span7
    %dl
      %dt To do a lot
      %dd Getting many small diagrams which have a few icons and relationships. |
          Then you launched an UML modeling tool, and create a new project, and make a model, ... |
      %dt Cannot reuse
      %dd Wanted to copy a string, like a class name and something phrase, from UML note icon.
      %dt Ugly looks 
      %dd There was something you don't like at diagram which application generated. |
          For instance, color, size, line width, font, and so on. |
      %input#did_you_have_these_expr_more{type:"checkbox","data-bind"=>"checked:more_did_you_have_these_expr",style:"display:none"}
      %label{for:"did_you_have_these_expr_more"}
        %a More...
      .more{"data-bind"=>"visible:more_did_you_have_these_expr"}
        %dt What changed?
        %dd Couldn't understand difference b/w old diagram and updated one.
        %dt Cannot view
        %dd Couldn't open an application file on other computer you don't usually use.
      

-# Why you use JUMLY =========  =================================================
%section#why_you_use_jumly.row
  %h2.span12 Why you use JUMLY
  .span7
    %dl
      %dt Everything is text
      %dd Input data is text, and output format is text/html. It's great advantage to proprietary binnary data format, |
          because we can use SCM like Subversion/Mercurial/Git to manage and version the data. |
      %dt Easy to use
      %dd You need only a web browser and a text editor you get used to.
      %dt Fast for everything
      %dd The time you get a diagram since you want it. The time JUMLY render diagram. The time you know JUMLY.
      %input#why_you_use_jumly_more{type:"checkbox","data-bind"=>"checked:more_why_you_use_jumly",style:"display:none"}
      %label{for:"why_you_use_jumly_more"}
        %a More...
      .more{"data-bind"=>"visible:more_why_you_use_jumly"}
        %dt High quality
        %dd You can get keen designed diagrams, especially on MacOSX
        %dt Concentrative
        %dd You can concentrate on your modeling regardless of the layout for UML icons.
        %dt Based on DOM and jQuery
        %dd Diagrams JUMLY renders are composed with DOM/jQuery node, so you've already understand the way to handle them.
        %dt Powered by HTML5/CSS3
        %dd In addition the above, you will get HTML5/CSS3 bless. |
            For example, you can edit the styles of icons applying CSS. |
        %dt Light and small
        %dd Now the size of script is 56KB, and the size of stylesheet is 16KB. |
            They are relatively lighter than the UML modeling tools :) |
