/-------- Tutorial --------
#tutorial.hide{"data-bind"=>"visible:(tutorial.hasStarted() && !tutorial.hasFinished())"}
  %h2 3ステップチュートリアル
  .content{"data-bind"=>"click:tutorial.toNext"}
    .welcome{"data-bind"=>"css:{active:tutorial.chap() == 0}"}
      %h3 ようこそ！
      JUMLYお試しありがとうございます。
      簡単な3ステップのチュートリアルを始めましょう。
      次のステップに行くには、クリックするか下キーを押してください。
      簡単なJUMLIPT、jQuery/CSSでのカスタマイズ方法、および共有の仕方を学びます。
      
    .step1{"data-bind"=>"css:{active:tutorial.chap() == 1}"}
      %h3 ステップ1 <small>JUMLIPTを書いてみる</small>
      最初にシーケンスダイアグラムを描くいくつかJUMLIPTを書いてみます。
      一般的なウェブアプリケーションの相互作用です。
      
    .step2{"data-bind"=>"css:{active:tutorial.chap() == 2}"}
      %h3 ステップ2 <small>CSSとjQueryで見た目をカスタマイズする</small>
      JUMLYではCSSとjQueryで簡単に見た目を変更することができます。
      ステップ2ではその方法を紹介します。
  
    .step3{"data-bind"=>"css:{active:tutorial.chap() == 3}"}
      %h3 ステップ3 <small>共有用URLを作成する</small>
      最後のステップでは、あなたが描いたダイアグラムを他の人に見せるための方法を紹介します。
      とても簡単です。<strong>画面右上のボタンをクリックしてください</strong>。
      モーダルダイアログに2つのURLが表示されます。ひとつは生のURLで、もうひとつはbit.lyによる短縮URLです。
      仲間にURLを教えて、あなたの描いたダイアグラムを見せましょう！


#tutorial-ask.alert-message.info.hide
  %strong チュートリアルを開始しますか？
  %a.btn.small.cancel{"data-bind"=>"click:tutorial.enable"} はい
  %a.btn.small.cancel{"data-bind"=>"visible:!tutorial.hasStarted()"} 後で
  %a.btn.small.cancel{"data-bind"=>"click:tutorial.finish,text:(tutorial.hasStarted()?'いいえ':'チュートリアルをしない')"}
      

.instructions.hide{"data-bind"=>"click:tutorial.toNext,visible:(tutorial.hasStarted() && (tutorial.hasShared() || !tutorial.hasFinished()))"}
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,0)}"}
    %h4 ステップ1-1
    %p
      左のテキストエリアに最初のJUMLIPTを入力してみましょう。<br>
      （クリックか下キーで次へ）
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,1)}"}
    %h4 ステップ1-2
    %p
      <code>@found</code>JUMLIPTを入力しました。
      <code>@found</code>は、シーケンスダイアグラムを開始するためのJUMLIPTディレクティブです。
      "WebBrowser"が描かれたはずです。<br>
      （上キーで戻る）
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,2)}"}
    %h4 Step1-3
    %p
      <code>@message</code>ディレクティブを追加しました。
      これはメッセージをひとつ作成します。第1引数はメッセージ名、第2引数にはメッセージの対象オブジェクト名を指定します。
    %p
      <code>@found</code>の第2引数をみてください。
      <code>-></code>はコンテキストを維持するためのディレクティブです。
      他の例を見てみましょう。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,3)}"}
    %h4 ステップ1-4
    %p
      さらに2つのメッセージを追加しました。<br>
      ひとつは自己呼び出しのメッセージで、@messageの第2引数を省略します。
      もうひとつはさらに別のオブジェクトへのメッセージで、さきほどの自己呼び出しからのメッセージを作成しています。<br>
      例のように@messageの最後の引数に<code>-></code>を与えることで、そのメッセージをコンテキストにすることができます。<br>
      また、<code>-></code>の後は改行して2スペース分インデントするのが慣例です。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,4)}"}
    %h4 Step1-5
    %p
      WebBrowserからメッセージを描きたい場合は、左の例のように、そのコンテキストに@messageディレクティブを書きます。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(1,5)}"}
    %h4 Step1を終えました。
    %p
      あなたは簡単なシーケンスダイアグラムをJUMLYで描けるようになりました。
      いろいろ試してみてください。
      次はステップ2へ進みましょう。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(2,1)}"}
    %h4 Step2-1
    %p
      例としてメッセージをひとつ含む簡単なシーケンスダイアグラムを使います。
      オブジェクト名を太字にしてみましょう。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(2,2)}"}
    %h4 Step2-2
    %p
      <code>@before (d)-></code>ディレクティブはjQueryオブジェクトを受け取るコンテキストを作成します。
      そのjQueryオブジェクトはダイアグラムのDiv要素です。
      jQueryのcssメソッドでfont-weightをboldにすると、ダイアグラムの表示が変わります。
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(2,3)}"}
    %h4 Step2-3
    %p
      If you want simple looks, you can turn off some effects.<br>
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(2,4)}"}
    %h4 Step2-4
    %p
      And it's sure you can modify the ownself diagram for backgroun-color, border, and or so.
  .instruction{"data-bind"=>"css:{active:tutorial.isIn(2,5)}"}
    %h4 Step2 Finished
    %p
      Now, you can make and decorate diagram as you want with JUMLY, CSS and jQuery.<br>
      Go ahead to step3.
  .instruction{"data-bind"=>"css:{active:tutorial.hasShared()}"}
    %h4 Step3 and tutorial all finished.
    %p
      Thank you for having this tutorial.
      You can make simple and stylish sequence diagram,
      improve it by yourself with CSS/jQuery,
      and easily share it.<br>
      See other examples on the topbar to know JUMLY more.
    %p
      And also, check out the blog, RSS feed and the repository in order to see latest news for JUMLY.
      Thank you so much for trying JUMLY.
    %a.btn{"data-bind"=>"click:tutorial.finish"}Finish
