@import common
@import "_layouts/footer"

h1, h2, h3
  margin-top 0
  font-family Russo One

ul
  font-family mplus-1p,verdana

.menu
  ul
    list-style none
  > ul
    margin-left 0

#_core
  margin-top 3em

section
  margin-bottom 5em

#_core
  article
    _A_BG()

    h3
      font-size 1.3em

.entry-meta, #details .category
  float right
  background-color #ccc
  padding 2px 1em 2px 1em
  border-radius 5px
  font-size 12px

#details
  article
    > .title
      _L_HEADER()
      //text-shadow 0 -1px 0 rgba(0,0,0,0.5)
      font-size 16px
      letter-spacing 0
      margin-bottom 1px

    > .description
      margin-top 1em

.signatures
  .signature
    > .name
      _M_HEADER()
      //text-shadow 0 -1px 0 transparent
      font-size 16px
      letter-spacing 0
    
    background-color #ddd
    border-radius 5px
    padding-bottom 5px

    ul
      list-style none
      margin-bottom 10px

    .arg
      margin-top 10px

      > .name
        L-EMBOSS()
        font-weight bold
        display inline-block

      > .default
        L-EMBOSS()
        display inline-block
        &:before
          margin-left 1em
          content "(default: "
        &:after
          content ")"

      > .type
        > .name
          L-EMBOSS()
          &:before
            content "Type: "

        .params, .param, .type, .name
          display inline-block
          L-EMBOSS()
        .params
          &:before
            content "("
          &:after
            content ")"
        .param:not(:first-child)
          &:before
            content ","
            margin-right 0.5em
        .param .name
          margin-left 5px
