!!! 5
%html
  %head
    %title JUMLY How to work
    = haml :"_head.html"
    = haml :"_bootstrap.html"
    %link{type:'text/css', rel:'stylesheet', href:"#{$css_dir}/_sequence.css"}
  %body
    /
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %h3
              %a.brand{href:"/#"}JUMLY
            %ul.nav
              %li
                %a{href:"/TryJUMLY"}TryJUMLY
            %form.navbar-search.pull-right
              %input.search-query{type:"text",placeholder:"Search"}
    .container
      .row
      %script{type:"text/jumly+sequence"}
        :plain
          @found "Browser", ->
            @message "load", "JUMLY", ->
              @message "addWindowListener 'DOMContentLoaded'", "DOMWindow"
            @found "JUMLY", ->
              @message "select script nodes", "HTMLHtmlElement"
          @after ->
            tip = (e,m,p)-> e.attr(title:m,"data-trigger":"manual","data-placement":p).tooltip("show")
            tip jumly, "Hello", "right"
            

      /= haml :"_copyright.html"
