extends _layouts/default

block styles
  :stylus
    body
      color  inherit
    
    .element.icon
      display  inline-block
      text-align center
      margin-left 4px
      margin-right 4px
      position relative
      
      .name
        margin-top 4px
      
      &.actor, &.view
        width: 80px

    #postgresql
      left -50px
      top 120px
    #mobile-app-developer
      top 50px
    #kiicloud-developer-portal
      top -50px
    #heroku
      left 100px

    .robustness-diagram
      border  dashed 1px gray
      border-radius  3px
      padding 8px


block content
  .container
    .row
      .span12
        :jumly(type=robustness)
          @actor "User" :-> @view "Browser"
          @view "Browser" :-> @controller "Server"
          @controller "Server" :-> @entity "Database"

        :jumly
          @found "hello"

        .diagram

block scripts
  :coffeescript
    IconElement = require "IconElement"
    Relationship = require "Relationship"

    diag = $(".diagram")
    diag.append a = new IconElement("App Developer", kind:"actor")
    diag.append b = new IconElement("Register his app", kind:"view")
    diag.append c = new IconElement("Inspect", kind:"controller")
    diag.append d = new IconElement("App Store", kind:"entity")
    diag.append r0 = new Relationship("", src:a, dst:b)
    diag.append r1 = new Relationship("", src:b, dst:c)
    diag.append r2 = new Relationship("", src:c, dst:d)
    
    a.attr id:"mobile-app-developer"
    b.attr id:"kiicloud-developer-portal"
    c.attr id:"heroku"
    d.attr id:"postgresql"
    for r in [r0, r1, r2]
      r.render()
