extends _layouts/default

block styles
  :stylus
    body
      color  inherit
    #a, #b, #c
      display  inline-block
    #b
      position  relative
      left  100px
      top   50px

block content
  .container
    .row
      .span12
        :jumly
          @found "hello"

        .diagram
          #a
            canvas#actor
          canvas#view
          #c
            canvas#controller
          #b
            canvas#entity

block scripts
  :coffeescript
    Icon = require "Icon"
    (Icon.renderer "actor") actor
    (Icon.renderer "view") view, {}
    (Icon.renderer "controller") controller, {}
    (Icon.renderer "entity") entity, {}

    $(a).css width:$(actor).data("actual-width")

    $ ->
      e = $("#c, #b")
      h = e.mostLeftRight()
      v = e.mostTopBottom()
      diag = $(e[0]).parent(".diagram")
      o = diag.offset()
      canvas = $("<canvas>").attr(width:h.width(), height:v.height())
                            .css(position:"absolute", left:h.left - o.left, top:v.top - o.top)
      diag.append canvas
