extends _layouts/default

block styles
  :stylus
    body
      color: inherit
    #a
      display: inline-block

block content
  .container
    .row
      .span12
        :jumly
          @found "hello"

        #a
          canvas#actor
        canvas#view
        canvas#controller
        canvas#entity

block scripts
  :coffeescript
    Icon = require "Icon"
    (Icon.render "actor") actor
    (Icon.render "view") view, {}
    (Icon.render "controller") controller, {}
    (Icon.render "entity") entity, {}

    $(a).css width:$(actor).data("actual-width")
