extends _layouts/default

block styles
  :stylus
    body
      color  inherit
    .icon
      display  inline-block
      text-align center
      margin-left 4px
      margin-right 4px
      .name
        margin-top 4px
    #b
      position  relative
      left  100px
      top   50px
    .icon.actor
      width: 100px

block content
  .container
    .row
      .span12
        :jumly
          @found "hello"

        .diagram

block scripts
  :coffeescript
    IconElement = require "IconElement"
    diag = $(".diagram")
    
    diag.append new IconElement("Mobile App Developer", kind:"actor")
    diag.append new IconElement("KiiCloud Developer Portal", kind:"view")
    diag.append new IconElement("heroku", kind:"controller")
    diag.append new IconElement("PostgreSQL", kind:"entity")
