      .row
        .span16.columns
          %hr
          %h2 Directives
      .row
        .span4.columns
          %h3 @found
          %pre
            @found {object}
        .span4.columns
          %h3 @message
          %pre
            @message {name}, [{object}]
        .span4.columns
          %h3 @create
          %pre
            @create {object}
        .span4.columns
          %h3 @reply
          %pre
            @reply {name}, {object}
        .span4.columns
          %h3 @loop
          %pre
            :preserve
              @loop {directive}
              @loop -> {directives}
        .span4.columns
          %h3 @ref
          %pre
            @ref {name}
        .span4.columns
          %h3 @alt
          %pre
            :preserve
              @alt
                {cond-1}: -> {directives}
                {cond-2}: -> {directives}
        .span4.columns
          %h3 iconify
          %pre
            {object}.iconify {"actor"|"view"|"controller"|"entity}
