!!! 5
%html
  %head
    %title Color Wheel
    %link{href:"vendor/bootstrap/bootstrap.min.css", type:"text/css", rel:"stylesheet"}
    %link{href:"stylesheets/color-wheel.css", type:"text/css", rel:"stylesheet"}
    %script{src:"vendor/jquery-1.6.2.min.js"}
    %script{src:"vendor/coffee-script.min-1.1.1.js"}
    %script{src:"vendor/bootstrap/js/bootstrap-twipsy.js"}
    :css
      .block {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        margin: 1px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
      }
  %body
    .container
      .row
        .block.black
        
  :coffeescript
    x = 512
    y = 320
    pos = (deg, r = 160) ->
      radian = 2*Math.PI * ((deg + 0) / 360)
      px = r * Math.cos(radian)
      py = r * Math.sin(radian)
      {left:x - px, top:y - py}

    $(".black").offset left:x, top:y
    deg2class =
      0  : "red"
      30 : "orange"
      60 : "yellow"
      90 : "yellow-green"
      120: "green"
      150: "green-aqua"
      180: "aqua"
      210: "aqua-blue"
      240: "blue"
      270: "blue-violet"
      300: "violet"
      330: "violet-red"
    
    color_wheel = (split = 24, r = 160, luminousness = 50, saturation = 100) ->
      for e in [0..split-1]
        me = $("<div>")
        deg = parseInt(e * 360 / split)
        console.log deg, e*360/split, e
        clzname = "hsl_\#{deg}_\#{saturation}_\#{luminousness}"
        $("body .container .row")
          .append(me.addClass("block")
                    .addClass(clzname)
                    .addClass(deg2class[deg])
                    .attr("title", clzname).twipsy())
        me.offset(pos deg, r)
          .css("-webkit-transform", "rotate(\#{deg}deg)")

    color_wheel(60, 304, 80)
    color_wheel(48, 256, 72)
    color_wheel(36, 208, 65)
    color_wheel(24, 160, 50)
    color_wheel(16, 128, 42)
    color_wheel(12,  92, 35)
    color_wheel( 8,  60, 20)
