doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    block title
    link(rel='stylesheet', href="vendor.css")
    link(rel='stylesheet', href="column1.css")
    block styles
    include scripts
  body
    block content
