doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    - var _description = "";
    block title
    block description
      meta(name="description", content="#{_description}")
    link(rel='stylesheet', href="vendor.css")
    link(rel='stylesheet', href="column1.css")
    block styles
    script(src='public/js/coffee-script.js')
    script(src='public/js/jquery.js')
    script(src="public/js/knockout.js")
    script(src='public/syntaxhighlighter/scripts/shCore.js')
    script(src='public/syntaxhighlighter/scripts/shBrushJScript.js')
    script(src='public/syntaxhighlighter/scripts/shBrushXml.js')
    script(src='public/js/syntaxhighlighter.js')
    script(src='public/js/_ga.js')
  body
    block navbar
    block content
