doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href="vendor.css")
    link(rel='stylesheet', href="column2.css")
    block styles
    include scripts
  body
    !=css('jumly')
    !=js('jumly')
    .header
      .container
        .row
          .span3
            block left-header
          .span6
            block right-header

    .content
      .container
        .row
          .span3
            block left-content
          .span6
            block right-content
    
    .footer
      .container
        .copyright
          | &copy; 2010 Tomotaka Sakuma
