@import common

.header
  .menubar
    background-color #46483e
  h1.logo
    margin 0
    font-size 18px
    text-align left
    a
      //color #d2d8ba
      font-size 24px
      text-shadow none
      text-align initial

.copyright
    margin-top 30px
    text-align center
    font-size smaller

#leftpane
  .menubar
    background-color #46483e
    color #d2d8ba
    height 100%

#rightpane
  color inherit
