!!! 5
%html
  %head
    %title JUMLY Design
    = haml :"_head.html"
    :coffeescript
      $.jumly.preferences(".sequence-diagram").compose_most_left = 2
  %body
    = haml :_topbar

    /================================================================================================
    .container
      %section#Design
        .page-header
          %h1 Design
        .row
          /================================================================================================
          .span16.columns
            %h2 JUMLY Sequence Diagram
            %h3 Classes
            %script{type:"text/jumly+class"}
              :plain
                @def 'JUMLYMessage'
                @def 'JUMLYInteraction'
                @def 'JUMLYLifeline'
                @def 'JUMLYOccurrence'
                @def 'JUMLYFragment'
                @def 'JUMLYSequenceDiagram'
                @def 'JUMLYRef'
            %h3 Layout flow <small>v0.1.1b</small>
            %script{type:"text/jumly+sequence"}
              :plain
                @preferences compose_span:4
                @found "Diagram", ->
                  @message "preferences"
                  @message "find '.object'" ##objects = diagram.find(".object")
                  @message 'Align Horizontally', '.object'
                  @message 'Align Horizontally', '.occurrence' ## jumly $(".occurrence", diagram)'
                  @message 'build_interactions', ".occurrence .interaction", ->
                    @message "_buildInner"
                  @create ".lifeline"
                  @message 'Align Horizontally', ".lifeline"
                  @message 'Pack Vertically', ".object-lane"
                  @message 'Pack Horizontally', ".ref"
                  @message 'Pack Horizontally', ".ref.fragment"
                  @message 'Align Horizontally', ".message.create"
                  @message 'Align Vertically', ".lifeline"
                  @message 'Align Horizontally', ".lifline.stop"
                  @message 'rebuild_asynchronous_self_calling'
                  @message 'Render Icons', '.object'
                  @message 'set width @preferredWidth()'
                  

            %h2
              Web Application
              %small JUMLY tutorial site
            %script{type:"text/jumly+usecase"}
              :plain
                @actor "User":use:[2]
                @actor "Creator":use:[1, 2]
                @actor "Developer":use:[5, 6]
                @boundary "JUMLY app", ->
                  @usecase 7:"Create a diagram"
                  @usecase 1:"Share a diagram"
                  @usecase 2:"Clikc a link, and see a diagram"
                  @usecase 3:"Auth with Twitter account"
                  @usecase 4:"Auth with Facebook account"
                  @usecase 5:"Require JUMLY gem on sinatra"
                  @usecase 6:"Require JUMLY gem on rails3.1"

          /================================================================================================
          .span16.columns
            %h2 Sequence diagram
            %script{type: "text/jumly+class"}
              :plain
                @def "UMLDiagram":
                  methods: ["compose", "preferences"]
            %script{type: "text/jumly+sequence"}
              :plain
                @found "JUMLY", ->
                  @message "find text/jumly", "Window"
                  @loop ->
                    @create "UMLDiagram"
                    @message "compose", "UMLDiagram"
