.page-header
  %h1 Download
.row
  %p.span16.columns
    JUMLY supports browsers based on Webkit like Safari, Google Chrome, RockMelt, and so on.
    http://www.rockmelt.com/
  .span16.columns
    %table
      %thead
        %tr
          %th Release date
          %th Version
          %th Archive filename
          %th SHA1
      %tbody
        %tr
          %td 2011/9/X
          %td v0.1.0-rc1
          %td
            %a{href: 'public/jumly-0.1.0-rc1.tar.gz'}jumly-0.1.0-rc1.tar.gz
          %td 648e8a5348baee45f41e54682937f45cb20ca86b

