!!! 5
%html
  %head
    %title JUMLY Full class diagram
    = haml :"_head.html"
    %link{href: "#{$css_dir}/site/full_class.css", type: "text/css", rel: "stylesheet"}
    %script{src:"#{$js_dir}/bootstrap/js/bootstrap-twipsy.js"}
    %style
      :plain
        .diagram {margin: auto;}
  %body
    = haml :_topbar

    /================================================================================================
    .container
      %section#full-class-diagram
        .page-header
          %h1 Full class diagram <small>A web application class</small>
        .row
          .span4.columns
            Now Making...
          .span12.columns
            %script{type: "text/jumly+class"}
              :plain
                @def "Browser":
                  attrs: ["version", "copyright"]
                  methods: ["Open", "Close", "Save", "New"]
                @def "HTTP Server":
                  attrs: ["port", "thread"]
                  methods: ["Listen", "Timeout"]
