.navbar.navbar-fixed-top
  .navbar-inner
    .container
      h3
        a.brand(href="/") JUMLY
      ul.nav
        li
          a(href="TryJUMLY") TryJUMLY
        li
          a(href="Reference.html") Reference
header#masthead
  .inner
    .container
      .row
        div.span4
          span.logo JUMLY
        div.span7
          p.lead Be concentrative into your idea with JUMLY.
          p Latest version 0.1.2
.container
  section#Introduction
    include Introduction
  :jumly_sequence
    @found "You", ->
      @create "UML diagram"

  :jumly_class
    @def "You":
      stereotype:"human"
      attrs     :["age", "height"]
      methods   :["run", "think"]

  :jumly_usecase
    @actor "You":use:[1, 2]
    @usecase 1:"Render Diagram"
    @usecase 2:"Arrange Diagram"

div#footer
  .inner
    .container
      div
        p
          a(href="http://tmtk75.github.com/jumly") JUMLY
      div
        p all rights reserved &copy;
          a(href="http://tmtk75.github.com") Tomotaka Sakuma
          | Be concentrative into your idea
link(rel="stylesheet",href="/javascripts/syntaxhighlighter/styles/shCore.css")
link(rel="sytlesheet",href="/javascripts/syntaxhighlighter/styles/shThemeDefault.css")
script(src="/javascripts/syntaxhighlighter/scripts/shCore.js")
script(src="/javascripts/syntaxhighlighter/scripts/shBrushJScript.js")
script(src="/javascripts/syntaxhighlighter/scripts/shBrushXml.js")
script(src="/javascripts/knockout.js")
:coffeescript
  SyntaxHighlighter.config.clipboardSwf = '/javascripts/syntaxhighlighter/scripts/clipboard.swf'
  SyntaxHighlighter.config.toolbar = false
  SyntaxHighlighter.all()
:coffeescript
  viewModel =
    more_did_you_have_these_expr: ko.observable false
    more_why_you_use_jumly: ko.observable false
  ko.applyBindings viewModel, $("body")[0]
