.navbar.navbar-fixed-top
  .navbar-inner
    .container
      h3
        a.brand(href="/") JUMLY
      ul.nav
        li
          a(href="tryjumly") TryJUMLY
        li
          a(href="reference") Reference
header#masthead
  .inner
    .container
      .row
        div.span4
          span.logo JUMLY
        div.span7
          p.lead Be concentrative into your idea with JUMLY.
          p Latest version 0.1.2
.container
  section#Introduction
    include _introduction
  section#Overview
    include _overview
  section#Example
    include _example
  section#License
    include _license
  section#Credit
    include _credit
  section#Contact
    .page-header
      h1 Contact
    .row
      .span12
        p If you ask me, send your message in some ways.
        address
          a(href:'https://twitter.com/#!/jumly1') @jumly1
        address
          a(href:'mailto:jumly2gmail.com') jumly2@gmail.com

div#footer
  .inner
    .container
      div
        p
          a(href="http://tmtk75.github.com/jumly") JUMLY
      div
        p all rights reserved &copy;
          a(href="http://tmtk75.github.com") Tomotaka Sakuma
          | Be concentrative into your idea
:coffeescript
  viewModel =
    more_did_you_have_these_expr: ko.observable false
    more_why_you_use_jumly: ko.observable false
  ko.applyBindings viewModel, $("body")[0]
