.buttons
  text-align center
  margin-top 2px
  a
    text-decoration none
  label
    display inline-block
  .button
    display inline-block
    padding 8px 0
    border-radius 2px
    background-color darken(white, 25%)
    color #46483e
    text-align center
