.navbar.navbar-fixed-top
  .navbar-inner
    .container
      h3
        a.brand(href="/") JUMLY
      ul.nav
        li
          a(href="TryJUMLY") TryJUMLY
        li
          a(href="Reference.html") Reference
.container
  h1= title
  p Welcome to #{title}

  :jumly_sequence
    @found "You", ->
      @create "UML diagram"

  :jumly_class
    @def "You":
      stereotype:"human"
      attrs     :["age", "height"]
      methods   :["run", "think"]

  :jumly_usecase
    @actor "You":use:[1, 2]
    @usecase 1:"Render Diagram"
    @usecase 2:"Arrange Diagram"
