.page-header(style='display:none')
  h1 Introduction <small> Brief what JUMLY is, getting started, why you use</small>

//-#-- What's JUMLY?  ===========================================================
section#Whats_JUMLY.row
  .span12
    h2 What's JUMLY?
    p JUMLY is a JavaScript library, UML diagram rendering engine.
    p Using JUMLY, you can easily embed UML diagram on your HTML document.  
    p All you need are just two in order to use JUMLY.
    ul
      li Text editor you get used to use.
      li Modern browser like WebKit-base brwoser and Opera.<br>(now planning it works on other browsers, especially Firefox.)

  .row
    .span6#we-think-something
    .span6
      :code
        &lt;script type='text/jumly+usecase'>
          @usecase 1:"Think something"
          @usecase "Render Diagram":extend:[1]
          @actor "You":use:[1]
        &lt;/script>
