!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.less')
    link(rel='stylesheet/less', href='/latest/jumly.min.css')
  body!= body
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/less.js')
  != js('class')
