!!!
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/docs/assets/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href="docs.css")
    != css('jumly')
    :less
      .syntaxhighlighter { overflow: hidden !important; font-size: 10pt !important; }
      .syntaxhighlighter .toolbar { display: none; }
      section {margin-bottom:4em;}
      #Whats_JUMLY .diagram {width:338px;margin-left:auto;}
      #Getting_Started .diagram {margin:5em auto 0 auto;}
      .center {text-align:center;}
  body!= body
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/coffee-script.js')
  != js('jumly')
