.page-header
  h1 License
.row
  .span12
    p
      span("xmlns:dct"="http://purl.org/dc/terms/", property: "dct:title")
      |JUMLY by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Tomotaka Sakuma</span>
      |is licensed under a<br/>
      |<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
      |Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
    p
      a(rel="license", href="http://creativecommons.org/licenses/by-nc-nd/3.0/")
        img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png")
    p
      |Following cases are <strong>NOT</strong> commercial use I think.
      ul
        li Developer uses JUMLY on work in their team in order to communicate.
        li Presentation for your product, research, idea and so on.
        li Educational use in university or private companry.
        li And so on. <a href='https://twitter.com/#/jumly1'>Contact me</a> if you are contemplated.
