@import common
@import "_layouts/footer"

h1, h2, h3
  margin-top 0
  font-family Russo One

ul
  font-family mplus-1p,verdana

.menu
  ul
    list-style none
  > ul
    margin-left 0

#_directives
  margin-top 3em

  .subsection
    margin-bottom 5em
  .sequence-diagram:not(:last-child)
    margin-bottom 2em
  .occurrence.compact
    padding-bottom 2px

  h3
    _L_HEADER()

  .subsection
    h4
      _M_HEADER()

section
  margin-bottom 5em


