@import common

ul, h2, h3
  font-family mplus-1p,verdana

.menu
  ul
    list-style none
  > ul
    margin-left 0

.footer
  LIGHT-DARK()
  padding-bottom 60px

#_directives
  .subsection
    margin-bottom 5em
  .sequence-diagram:not(:last-child)
    margin-bottom 2em
  .occurrence.compact
    padding-bottom 2px

section
  margin-bottom 5em


