script(src='coffee-script.js')
script(src='jquery.js')
script(src="knockout.js")
script(src='syntaxhighlighter/scripts/shCore.js')
script(src='syntaxhighlighter/scripts/shBrushJScript.js')
script(src='syntaxhighlighter/scripts/shBrushXml.js')
script(src='syntaxhighlighter.js')
script(src='_ga.js')
