!!! 5
%html
  %head
    %title JUMLY Share
    = haml :"_head.html"
  %body
    .container
      #shared-diagram

  :coffeescript
    b = {}
    b[e[0]] = e[1] for e in (e.split("=") for e in location.search.replace(/^\?/, "").split("&"))
    console.log b
    console.log decodeURIComponent b.d

    $ ->
      $("#shared-diagram").jumlize "sequence", "@found 'F', ->"
