!!! 5
%html
  %head
    %title JUMLY Share
    = haml :"_head.html"
    = haml :"_bootstrap.html"
    :css
      body {margin-top:44px;}
      .diagram-container {}
      .alert-message {white-space:pre;}
      .diagram {margin: 0 auto 0 auto;}
      .footer {position:absolute;bottom:0px;text-align:center;width:100%;background:rgba(24,24,24,1);opacity:0.87;z-index:10;color:white;text-shadow:1px 0 gray;padding:2px 0 2px 0;}
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %h3 <a href="/#">JUMLY</a>
          %ul <li><a href="/TryJUMLY">TryJUMLY</a></li>
          %ul <li><a href="/Reference.html">Reference</a></li>
    .container
      .diagram-container
    .footer
      version #{File.read "VERSION"}
    .alert-message.error.hide
      .content
      
  %script{src:"#{$js_dir}/base64.js"}
  /
    QueryParams
    t:  string    Encode type for 'b' param (default: b64)
    b:  string    JUMLY body (required)
      
  :coffeescript
    b = {}
    b[e[0]] = e[1] for e in (e.split("=") for e in location.search.replace(/^\?/, "").split("&"))
    switch b.t
      when 'raw' then directs = decodeURIComponent b.b
      else directs = Base64.decode b.b
    $ ->
      try
        $(".diagram-container").jumlize "sequence", directs, ->
      catch ex
        $(".alert-message.error")
          .find(".content").text(directs).end()
          .alert().fadeIn()
