.simple
  .sequence-diagram
    .participant .name, .occurrence
      box-shadow none
      -webkit-box-shadow none
      -moz-box-shadow none
      -o-box-shadow none
    .participant
      background-color transparent
      .name
        border-top-color transparent
        border-right-color transparent
        border-left-color transparent
        background-color transparent
    .occurrence
      background-color white
