#example1
  &.simple *
    box-shadow none
    -webkit-box-shadow none
    -moz-box-shadow none
    -o-box-shadow none
    .participant
      .name
        border-top-color transparent
        border-right-color transparent
        border-left-color transparent
        background-color transparent
    .occurrence
      background-color white

