.fancy
  .diagram
    *
      box-shadow none
      -webkit-box-shadow none
      -moz-box-shadow none
      -o-box-shadow none
    .participant:nth-child(1) .name
      border-color darken(#0095b6, 25%)
      background-color #0095b6
      color darken(#0095b6, 50%)
    .participant:nth-child(3) .name
      border-color darken(#ffba00, 25%)
      background-color #ffba00
      color darken(#ffba00, 50%)
      width 160px
      margin-left -30px
    .participant:nth-child(5) .name
      border-color darken(#f0dc82, 25%)
      background-color #f0dc82
      color darken(#f0dc82, 50%)
    .participant .name
      border-radius 8px
      font-weight bold
    .occurrence
      border-radius 4px
      background-color darken(white, 10%)
      border-color darken(white, 25%)
    .line
      margin-left 49%
      border-left dotted 5px darken(#bfff00, 25%)

