@import url("http://fonts.googleapis.com/css?family=Coda:800|Questrial|Michroma")
@import url("bootstrap/docs/assets/css/bootstrap.css")
@import url("bootstrap/docs/assets/css/bootstrap-responsive.css")
@import url("syntaxhighlighter.css")

h1.logo
  font-family Coda,Tahoma,sans-serif
  font-weight extra-bold
  small
    font-family "Helvetica Neue",Helvetica,Arial,sans-serif

h2
  font-family Questrial

//(max-width:767px) or (min-width:768px) or (max-width:979px) or (min-width:1200px)
@media (max-width:480px)
  h1,h2,h3,h4,h5,h6
    font-size 100%
