@import url("syntaxhighlighter/styles/shCore.css")
@import url("syntaxhighlighter/styles/shThemeDefault.css")

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2,
.syntaxhighlighter {
  background-image: none !important;
  background-color: transparent !important;
  .toolbar {display:none;}
}
.syntaxhighlighter {
  background-color: whiteSmoke !important;
  padding: 8.5px;
  margin: 0 0 18px 0;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  .gutter .line {
    border-right: 3px solid rgba(0,107,159,0.5) !important;
  }
}


