@import common

textarea
  width 100%
  font-family "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important
  line-height 16px

.logo
  font-size 24px
  margin 0
  .desc
    margin-left 10px
    font-weight normal
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    color #888
    font-size 16px

footer
  padding-top 30px
  padding-bottom 60px
  THICK-DARK()

.copyright
  text-align center
  font-size smaller

#diagram_container
  padding 2px
  .diagram
    margin-left auto
    margin-right auto

.failed
  background-color #ffd0e0

#notification
  height 30px
  color #ff4000
