@import common

textarea
  width 100%
  font-family "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important
  line-height 16px
  margin-bottom 0

.logo
  font-size 24px
  margin-top 0
  .desc
    margin-left 10px
    font-weight normal
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    color #888
    font-size 16px

footer
  padding-top 30px
  padding-bottom 60px
  THICK-DARK()

.copyright
  text-align center
  font-size smaller

#diagram_container
  padding 2px
  .diagram
    margin-left auto
    margin-right auto

.failed
  background-color #ffd0e0

#notification
  height 30px
  color #ff4000

#open-snippet
  width 100%
  margin-top 1px
  padding-left 8px - 2px
  padding-right 8px - 2px
  L-EMBOSS()

#snippet
  pre
    font-size 12px
    line-height 14px

#download_as_png
  font-size 12px
  font-weight bold
  width 80px * 6 - 20px - 6px * 2
