extends _layouts/default

block title
  title JUMLY Demo to edit an UML sequence diagram interactive, try me.

block prepend description
  - var _ = "You can try JUMLY here interactively changing an example snippet.";
  -    _ += " Then you can see the update of the sequence diagram as soon as you change.";
  - var __description = _;

block styles
  link(rel='stylesheet', href="/try.css")

block navbar
  include _includes/navbar

block content
  .container
    .row
      .span6
        header
          h1.logo Try
            small
              a(href='/') JUMLY
            span.desc Interactive Demo

    .row
      .span6
        p This page allows you to edit a sequence diagram interactively.
        p Try changing below. Available directives are @found,
         |@message, @create, @reply, @alt, @loop, @ref and @note.
         |In more detail, see <a href='/reference'>the reference</a>.

        textarea#code(rows=16)
          |@found "You", ->
          |   @message "Think", ->
          |     @message "Write your idea", "JUMLY", ->
          |       @create "Diagram"
          |jumly.css "background-color":"#8CC84B"
       
        #notification

        #disqus_thread
          script(src='public/js/disqus.js')
      
      .span6
        #diagram_container

  footer
    .copyright
      include _includes/copyright

  .fork-me
    a(href="https://github.com/tmtk75/jumly")
      img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png",alt="Fork me on GitHub")

block scripts
  :coffeescript
    $ ->
      compile = ->
        $(code).removeClass "failed"
        $(notification).text ""
        try
          JUMLY.eval $(code), into:$(diagram_container)
        catch ex
          $(code).addClass "failed"
          $(notification).text ex
      
      compile()

      id = -1
      $(code).on "keyup", (a,b,c)->
        clearTimeout id
        id = setTimeout compile, 500
