extends _layouts/default

block title
  title JUMLY Demo to edit an UML sequence diagram interactive, try me.

block prepend description
  - var _ = "You can try JUMLY here interactively changing an example snippet.";
  -    _ += " Then you can see the update of the sequence diagram as soon as you change.";
  - var __description = _;

block styles
  link(rel='stylesheet', href="/try.css")
  :stylus
    .link-to-image
      margin-top 1em
    #link_img
      font-size 12px
    #open_btn_1
      margin-left 1em

block navbar
  include _includes/navbar

block content
  .container
    .row
      .span6
        header
          h1.logo Try
            small
              a(href='/') JUMLY
            span.desc Interactive Demo
      .span6
        //.alert.alert-success
          <strong>Heads up!</strong> Available to get .png file
          a#open_btn_1.btn.btn-success.btn-mini Open

    .row
      .span6
        p This page allows you to edit a sequence diagram interactively,
         |and you can get the image.
        p Try changing below. Available directives are @found,
         |@message, @create, @reply, @alt, @loop, @ref and @note.
         |In more detail, see <a href='/reference.html'>the reference</a>.

        textarea#code(rows=10)
          |@found "You", ->
          |   @message "Think", ->
          |     @message "Write your idea", "JUMLY", ->
          |       @create "Diagram"
          |jumly.css "background-color":"#8CC84B"

        //.link-to-image
          p
            span.label.label-success Heads up!
            |&nbsp;To get image, click below link or copy with browser.
          a#link_img(target="_blank")

        #notification

        #disqus_thread
          script(src='public/js/disqus.js')
      
      .span6
        #diagram_container

  footer
    .copyright
      include _includes/copyright

  include _includes/fork-me-rt

block scripts
  :coffeescript
    _link = -> location.origin + "/api/diagrams?data=" + encodeURIComponent $("#code").val()

    _gen_link = ->
      url = _link()
      $("#link_img").text(url.slice(0, 50) + "...").attr "href", url

    $ ->
      $("#open_btn_1").on 'click', -> window.open _link()

      compile = ->
        $(code).removeClass "failed"
        $(notification).text ""
        try
          JUMLY.eval $(code), into:$(diagram_container)
          _gen_link()
        catch ex
          $(code).addClass "failed"
          $(notification).text ex
      
      compile()

      id = -1
      $(code).on "keyup", (a,b,c)->
        clearTimeout id
        id = setTimeout compile, 500
