extends column1

block title
  title JUMLY Demo to edit an UML sequence diagram interactive, try me.

block prepend description
  - var _ = "You can try JUMLY here interactively changing an example snippet.";
  -    _ += " Then you can see the update of the sequence diagram as soon as you change.";
  - var _description = _;

block styles
  link(rel='stylesheet', href="common.css")
  :stylus
    textarea
      width 100%
      font-family "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important
      line-height 16px
      margin-bottom 0

    .logo
      font-size 24px
      margin-top 0
      .desc
        margin-left 10px
        font-weight normal
        font-family "Helvetica Neue", Helvetica, Arial, sans-serif
        color #888
        font-size 16px

    footer
      padding-top 30px
      padding-bottom 60px
      THICK-DARK()

    .copyright
      text-align center
      font-size smaller

    #diagram_container
      padding 2px
      .diagram
        margin-left auto
        margin-right auto

    .failed
      background-color #ffd0e0

    #notification
      height 30px
      color #ff4000

    #open-snippet
      width 100%
      margin-top 1px
      padding-left 8px - 2px
      padding-right 8px - 2px
      L-EMBOSS()

    #snippet
      pre
        font-size 12px
        line-height 14px

    #download_as_png
      font-size 12px
      font-weight bold
      width 80px * 6 - 20px - 6px * 2

block navbar
  .navbar
    .navbar-inner
      .brand(href="#")
        a.logo(href="/") JUMLY
      ul.nav
        li: a(href="/reference") Reference

block content
  !=css('jumly')
  .container
    .row
      .span6
        header
          h1.logo Try
            small
              a(href='/') JUMLY
            span.desc Interactive Demo

    .row
      .span6
        p This page allows you to edit a sequence diagram interactively.
        p Try changing below. Available directives are @found,
         |@message, @create, @reply, @alt, @loop, @ref and @note.
         |In more detail, see <a href='/reference'>the reference</a>.

        textarea#code(rows=16)
          |@found "You", ->
          |   @message "Think", ->
          |     @message "Write your idea", "JUMLY", ->
          |       @create "Diagram"
          |jumly.css "background-color":"#8CC84B"
       
        form#download_as_png_form(action='/images',method='POST',target='foobar',style='display:none;')
          input(name='data')
        a#download_as_png.btn.hide Download as .png
        
        #notification

        #disqus_thread
          script(src='disqus.js')
      
      .span6
        #diagram_container

  #snippet.modal.hide.fade(tabindex=-1,role="dialog","aria-labelledby"="snippetLabel","aria-hidden"="true")
    .modal-header
      button.close(type="button","data-dismiss"="modal","aria-hidden"="true") ×
      h3#snippetLabel Snippet
    .modal-body
      pre &nbsp;
    //.modal-footer
      button.btn("data-dismiss"="modal","aria-hidden"="true") Close
      button.btn.btn-primary Save changes

  footer
    .copyright
      include _includes/copyright

  .fork-me
    a(href="https://github.com/tmtk75/jumly")
      img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png",alt="Fork me on GitHub")

  !=js('jumly')

  script(src="bootstrap/docs/assets/js/bootstrap-modal.js")
  script(src="html2canvas/html2canvas.js")
  :coffeescript
    $(snippet).on "shown", ->
      $("pre", snippet).text $(code).val()

    $(download_as_png).on "click", ->
      html2canvas [diagram_container], onrendered: (canvas)->
        download_as_png_form.data.value = canvas.toDataURL "image/png"
        download_as_png_form.submit()

    $ ->
      compile = ->
        $(code).removeClass "failed"
        $(notification).text ""
        try
          builder = new (require "SequenceDiagramBuilder")
          layout  = new (require "SequenceDiagramLayout")
          diag = builder.build $(code).val()
          $(diagram_container).html diag
          layout.layout diag
        catch ex
          $(code).addClass "failed"
          $(notification).text ex
      
      compile()

      id = -1
      $(code).on "keyup", (a,b,c)->
        clearTimeout id
        id = setTimeout compile, 500
