!!! 5
%html
  %head
    %title Try JUMLY
    = haml :"_head.html"
    %style
      textarea {width:100%; font-family:'Courier New';}
  %body
    .topbar
      .topbar-inner
        .container
          %h3 <a href="/#">JUMLY</a>
          %ul <li><a href="#"></a></li>
    .container
      %section
        .page-header
          %h1 Try JUMLY <small>Sequence Diagram</small>
        .row
          .span6.columns
            %textarea{rows:16,placeholder:""}
          #diagram-container.span8.columns

  :coffeescript
    jQuery.fn.jumly = (kind, script)->
      builder = 
        sequence: JUMLY.SequenceDiagramBuilder
      diag = (new builder[kind]).build script
      @find("> *").remove().end().append diag
      diag.compose()

    $ ->
      storage = window.localStorage
      storeKey = "TryJUMLY.sequence"
      $("textarea").val(storage.getItem storeKey).focus().typing
        start: (e, n)->
        stop: (e, n)->
          script = $("textarea").val()
          storage.setItem storeKey, script
          $("#diagram-container").jumly 'sequence', script
        delay: 400
