!!! 5
%html
  %head
    %title Try JUMLY
    = haml :"_head.html"
    %script{src:"/assets/bootstrap/js/bootstrap-alerts.js"}
    %script{src:"/assets/bootstrap/js/bootstrap-twipsy.js"}
    %style
      textarea {width:100%; font-family:Monaco,'Courier New';font-size:9pt;}
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %h3 <a href="/#">JUMLY</a>
          %ul <li><a id="sample-1">Sample-1</a></li>
          %ul <li><a id="sample-2">Sample-2</a></li>
          %ul <li><a href="/Reference.html">Reference</a></li>
    .container-fluid
      .page-header
        %h1 Try JUMLY <small>Sequence Diagram</small>
      .row
        .span6.columns
          %textarea{rows:20,placeholder:"Put directives"}
        #diagram-container.span10.columns
        
      .row
        .span16.columns
          %hr
          %h2 Directives
      .row
        .span4.columns
          %h3 @found
          %pre
            @found {object}
        .span4.columns
          %h3 @message
          %pre
            @message {name}, [{object}]
        .span4.columns
          %h3 @create
          %pre
            @create {object}
        .span4.columns
          %h3 @reply
          %pre
            @reply {name}, {object}
        .span4.columns
          %h3 @loop
          %pre
            :preserve
              @loop {directive}
              @loop -> {directives}
        .span4.columns
          %h3 @ref
          %pre
            @ref {name}
        .span4.columns
          %h3 @alt
          %pre
            :preserve
              @alt
                {cond-1}: -> {directives}
                {cond-2}: -> {directives}
        .span4.columns
          %h3 iconify
          %pre
            {object}.iconify {"actor"|"view"|"controller"|"entity}

    .alert-message.block-message.error.hide
      %span.title Error <br/>
      %strong type:
      %span.type
      %strong.constructor <br/>
      %strong message:
      %span.message <br/>
      %strong arguments:
      %span.arguments

    .alert-message.block-message.success.hide
      Success.
      

  :coffeescript
    jQuery.fn.fadeAlert = (delay = 6000)->
      @click(-> $(this).fadeOut())
      @fadeIn -> setTimeout (=> $(this).fadeOut()), delay

    alertmsg = (ex)->
      $(".alert-message").hide().filter(".error")
        .find(".type")       .html("\#{ex.type || ''}").end()
        .find(".constructor").html("\#{ex.constructor.name}").end()
        .find(".message")    .html("\#{ex.message}").end()
        .find(".arguments")  .html((ex.arguments || []).join ",").end()
        .alert().fadeAlert()

    storage = window.localStorage
    storeKey = "TryJUMLY.sequence"
    textarea = $ "textarea"
    
    updatediagram = ->
      try
        script = textarea.val()
        $("#diagram-container").jumlize 'sequence', script
        storage.setItem storeKey, script
        $(".alert-message").hide().filter(".success").fadeAlert(1000)
      catch ex
        alertmsg ex

    $ ->
      textarea.val(storage.getItem storeKey).focus().typing
        start: (e, n)->
        stop: (e, n)-> updatediagram e, n
        delay: 400
      updatediagram()

    samples =
      "sample-1":"""
        @found "You", ->
          @message "use", "JUMLY"
          @message "write", "JUMLY", ->
            @create "Diagram"
            @reply "", "You"
        you.iconify "actor"
        diagram.iconify "entity"
        jumly.iconify "controller"
        
        @after (e, d)->
          d.find(".occurrence:eq(1)")
           .twipsy("includes&nbsp;some&nbsp;" +
                   "JavaScript&nbsp;files", "right")
        """ 
      "sample-2":"""
        @found "You", ->
          @message "open", "Front Cover"
          @loop ->
            @alt
              "[page > 0]": -> @message "flip", "Page"
              "[page = 0]": -> @message "stop reading"
            @message "read", "Page"
          @message "close", "Front Cover"
          @ref "Tidy up book at shelf"
        
        @after (e, diag)->
          page.twipsy("Bootstrap Tooltip", "right")
          tiptext = '''
            Tooltip is better<br/>
            when note is exaggerated'''
          diag.find(".occurrence:eq(5)")
              .twipsy(tiptext, "right")
              .css("white-space":"nowrap")
        """
    $ ->
      $("#sample-1,#sample-2,#sample-3").click ->
        textarea.val samples[$(this).attr "id"]
        updatediagram()
        false
