!!! 5
%html
  %head
    %title JUMLY Tutorial
    = haml :"_head.html"
  %body
    = haml :_topbar

    /================================================================================================
    .container
      %section#Tutorial
        .page-header
          %h1 Tutorial
        .row
          .span16.columns
            %h2 Sequence diagram
