!!! 5
%html
  %head
    %title UI example/stock
    = haml :"_head.html"
    = haml :"_bootstrap.html"
    %link{href:"#{$css_dir}/ui.css",rel:"stylesheet"}
  %body
    .container
      .page-header
        %h1 UI component for JUMLY site
      .row
        .span12
          Checkbox like iOS.
          .checkbox.v
            %input#auto-update{type:"checkbox","data-bind"=>"checked:enabled"}
            %label{for:"auto-update"}
              .on{"data-bind"=>"css:{active:enabled}"} ON
              .off{"data-bind"=>"css:{active:!enabled()}"} OFF
          .checkbox.h
            %input#auto-update{type:"checkbox","data-bind"=>"checked:enabled"}
            %label{for:"auto-update"}
              .on{"data-bind"=>"css:{active:enabled}"} YES
              .off{"data-bind"=>"css:{active:!enabled()}"} NO
              
        .span12
          Glassy button.
          %a.aqua
            %span.text HOME
            %span.highlight
          
    :coffeescript
      viewModel =
        enabled:ko.observable(false)
      ko.applyBindings viewModel, $("body")[0]
