@import url("https://fonts.googleapis.com/css?family=Coda:800|Questrial|Michroma")
@import url("bootstrap/docs/assets/css/bootstrap.css")
//@import url("bootstrap/docs/assets/css/bootstrap-responsive.css")
@import url("syntaxhighlighter.css")
//@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-thin.ttf')
//@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-light.ttf')
@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
//@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-bold.ttf')
//@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-heavy.ttf')
//@import url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-black.ttf')
