#Whats_JUMLY.span16
  %h2 What's JUMLY?
  %p JUMLY is a JavaScript library to compose UML diagram dynamically with styled node.

.span5.columns
  %p
    There are two UML diagrams at the right, which are an use-case diagram and a sequence-diagram,
    and also there are a few lines under the diagrams.
  %p
    Open the HTML source, and check them out right now if you're software engineer.
    Those are <strong>NOT</strong> image.
    You will be surprised that you can draw easier than your expectation.
  %p
    You can take some diagrams using a simple DSL into your document.
    JUMLY provides one of the best ways to compose UML diagram.
  %p.emphasis
    Making high quality UML diagrams with a few typings.<br/>
    It's JUMLY.

.span11.columns
  .row
    #we-think-something.span5.columns
      %script{type: 'text/jumly+use-case'}
        @usecase 1:"Think something"
        @usecase "Draw diagram":extend:[1]
        @actor "You":use:[1]
    #you-write-your-idea.span6.columns
      %script{type: 'text/jumly+sequence'}
        :plain
          @preferences compose_most_left:0, compose_span:32
          @found "You", ->
            @message "Think", ->
              @message "Write<br/>your idea", "JUMLY", ->
                @create "Styled Node"
            @beforeCompose (e, diag) ->
              diag["Styled Node"].find(".name").addClass("site-color").end().addClass("Styled-Node")
                                 .css("margin-left":-30)
            @afterCompose (e, d) ->
              d.css "line-height":1
              d.find(".create .name").css "margin-top":30, "margin-left":20
              d.find(".message:eq(1) .name").css "margin-top":15
    .span5.columns
      %pre
        :preserve
          @usecase 1:"Think something"
          @usecase "Draw Diagram":extend:[1]
          @actor "You":use:[1]
    .span6.columns
      %pre
        :preserve
          @found "You", ->
            @message "Think", ->
              @message "Write your idea", "JUMLY", ->
                @create "Styled Node"
