.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      h3
        a.brand(href="/#") JUMLY
      ul.nav
        li
          a(href="/tryjumly") TryJUMLY
      form.navbar-search.pull-right
        //input.search-query(type="text",placeholder="Search")
