!!! 5
html
  head
    title JUMLY spec
    link(rel="stylesheet", type="text/css", href="javascripts/jasmine/jasmine.css")
    script(type="text/javascript", src="javascripts/jasmine/jasmine.js")
    script(type="text/javascript", src="javascripts/jasmine/jasmine-html.js")
    script(type="text/javascript", src="javascripts/jquery.js")
    script(type="text/javascript", src="javascripts/coffee-script.js")
    != css("jumly")
    != js("jumly")
    != js("spec/requires")
    :less
      .suite .suite > .description, .jasmine_reporter > .suite > .description {background-color:transparent;}
      body {font-size:10pt;}
      .diagram.spec {visibility:hidden;}
  body
  :coffeescript
    $ ->
      env = jasmine.getEnv()
      env.addReporter new jasmine.TrivialReporter
      env.execute()
