.page-header
  h1 Credit
.row
  .span7
    p I admire and appriciate them. Great thanks.
    p
      a(href='http://jquery.com/') jQuery<br/>
      |JavaScript Library
    p
      a(href='http://twitter.github.com/bootstrap/') bootstrap, from Twitter<br/>
      |Kickstart developmenet of webapps and sites
    p
      a(href='http://jashkenas.github.com/coffee-script/') CoffeeScript<br/>
      |Language to write JUMLY
    p
      a(href='http://pivotal.github.com/jasmine/') Jasmine<br/>
      |BDD JavaScript test framework
    p
      a(href='http://alexgorbatchev.com/SyntaxHighlighter/') SyntaxHighlighter<br/>
      |Code highlighting
    p
      a(href="http://knockoutjs.com/") Knockout<br/>
      |Simplify dynamic JavaScript UIs by applying the Model-View-View Model (MVVM)  pattern.
    p
      a(href="") underscore<br/>
    p 
      a(href="") jwerty<br/>
    p
      a(href="") express<br/>
    p
      a(href="") jade<br/>
    p
      a(href="") less<br/>
    p
      a(href="") stylus<br/>
