!!! 5
%html
  %head
    %title JUMLY spec
    %link{rel:"stylesheet", type:"text/css", href:"/assets/jasmine/lib/jasmine-core/jasmine.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/assets/jasmine-story/src/scss/jasmine-story.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/assets/jumly.css"}
    %script{type:"text/javascript", src:"/assets/vendor.js"}
    %script{type:"text/javascript", src:"/assets/jumly.js"}
    %script{type:"text/javascript", src:"/assets/jasmine/lib/jasmine-core/jasmine.js"}
    %script{type:"text/javascript", src:"/assets/jasmine/lib/jasmine-core/jasmine-html.js"}
    %script{type:"text/javascript", src:"/assets/jasmine-story/src/core/jasmine-story.js"}
    %script{type:"text/javascript", src:"/specs/spec.js"}
    :css
      #TrivialReporter {z-index:10;}
      .suite .suite > .description, .jasmine_reporter > .suite > .description {background-color:transparent;}
    :coffeescript
      env = jasmine.getEnv()
      env.addReporter new jasmine.TrivialReporter
      env.execute()
  %body
