!!! 5
%html
  %head
    %title JUMLY spec
    %link{rel:"stylesheet", type:"text/css", href:"/assets/vendor.css"}
    %link{rel:"stylesheet", type:"text/css", href:"/assets/jumly.css"}
    %script{type:"text/javascript", src:"/assets/vendor.js"}
    %script{type:"text/javascript", src:"/assets/jumly.js"}
    -#%script{type:"text/javascript", src:"/specs/0.1.0/spec.js"}
    %script{type:"text/javascript", src:"/specs/0.1.1/spec.js"}
    :css
      #TrivialReporter {z-index:10;}
      .suite .suite > .description, .jasmine_reporter > .suite > .description {background-color:transparent;}
    :coffeescript
      env = jasmine.getEnv()
      env.addReporter new jasmine.TrivialReporter
      env.execute()
  %body
