#diagram-containers {
  position: absolute;
  min-width: 192px;
  max-width: 386px;
  right: 8px;
  padding: 8px;
  border-radius: 3px;
  background-color: #DDD;
  opacity: 0.85;
}

#diagram-containers .description {
  font-size: 11;
  font-family: Monaco,mono,monospace;
  text-align: right;
}

#diagram-containers .spec-diagram-container {
  padding: 4px;
  border-radius: 3px;
  border: solid 1px gray;
  margin-bottom: 2px;
}
