.navbar
  .navbar-inner
    .brand(href="#")
      a.logo(href="/") JUMLY
    ul.nav
      li: a(href="/reference") Reference Manual
      li: a(href="/api") API Document
      li: a(href="/try") TryJUMLY
