.navbar
  .navbar-inner
    .brand(href="#")
      a.logo(href="/") JUMLY
    ul.nav
      li: a(href="/reference.html") Reference Manual
      li: a(href="/api.html") API Document
      li: a(href="/try.html") TryJUMLY
