script(src='public/js/coffee-script.js')
script(src='public/js/jquery.js')
script(src="public/js/knockout.js")
script(src='public/syntaxhighlighter/scripts/shCore.js')
script(src='public/syntaxhighlighter/scripts/shBrushJScript.js')
script(src='public/syntaxhighlighter/scripts/shBrushXml.js')
script(src='public/js/syntaxhighlighter.js')
script(src='public/js/_ga.js')
