script(src='/public/syntaxhighlighter/scripts/shCore.js')
script(src='/public/syntaxhighlighter/scripts/shBrushJScript.js')
script(src='/public/syntaxhighlighter/scripts/shBrushXml.js')
:coffeescript
  $ ->
    #SyntaxHighlighter.config.clipboardSwf = '/public/syntaxhighlighter/scripts/clipboard.swf'
    SyntaxHighlighter.config.toolbar = false
    SyntaxHighlighter.all()
