.centering
  margin-left: auto
  margin-right: auto

.unimportant
  z-index: 0

.primary_border
  border: 2px solid #808080

.icon-squaresize
  width: 24px
  height: 24px

.icon .square
  width: 24px
  height: 24px
  margin-left: 6px
  position: relative
  background-color: #808080
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  -o-border-radius: 2px
  border-radius: 2px

.icon .square.cross
  width: 4px
  margin-left: 4px

.icon .square::before
  content: ""
  display: block
  width: 100%
  height: 100%
  -moz-transform: rotate(90deg)
  -webkit-transform: rotate(90deg)
  -o-transform: rotate(90deg)
  transform: rotate(90deg)
  background-color: #808080

.icon .stop
  width: 24px
  height: 24px

.icon .stop .square.cross
  -moz-transform: rotate(45deg)
  -webkit-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)

