.box_shadow
  -webkit-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -moz-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -o-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  box-shadow: 10px 5px 5px rgba(0,0,0,.33)

.box_shadow2
  -webkit-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  -moz-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  -o-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)

.text_shadow
  -text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,.15)

.centering
  margin-left: auto
  margin-right: auto

.unimportant
  z-index: 0

.primary_border
  border: 2px solid #808080

.diagram
  position: relative
  font-size: 10pt

.diagram .object.iconified
  text-align: center

.diagram .object.iconified .name
  height: auto
  padding-top: .4em
  padding-bottom: .4em

.diagram .object.iconified .icon-container
  position: relative
  margin-bottom: 5px

.diagram .object.iconified canvas.icon
  border: 0
  padding-top: 2px
  padding-bottom: 2px

