.box_shadow
  -webkit-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -moz-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -o-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  box-shadow: 10px 5px 5px rgba(0,0,0,.33)

.box_shadow2
  -webkit-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  -moz-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  -o-box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)
  box-shadow: 5px 2.5px 2.5px rgba(0,0,0,.33)

.text_shadow
  -text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,.15)

.centering
  margin-left: auto
  margin-right: auto

.unimportant
  z-index: 0

.primary_border
  border: 2px solid #808080

.sequence-diagram
  font-family: Tahoma,Verdana

.sequence-diagram .stop
  position: relative

.sequence-diagram .object
  position: relative
  .name
    border: 2px solid #808080
    text-align: center
    min-width: 88px
    padding: 0 4px
    height: 31px
    display: table-cell
    vertical-align: middle
    background-color: #fff

.sequence-diagram .lifeline,.sequence-diagram .lifeline .line
  position: relative

.sequence-diagram .lifeline .line
  margin-left: 51%
  z-index: 0
  border-left: dashed 1px gray

.sequence-diagram .occurrence
  position: relative
  width: 12px
  padding: 1em 0 1em 0
  margin-top: 4px
  border: 2px solid #808080
  background-color: lightgray
  z-index: 1

.sequence-diagram .message.create+.occurrence
  padding: .5em 0 .5em 0

.sequence-diagram .interaction
  position: relative

.sequence-diagram .interaction.lost .occurrence.icon
  height: 20px
  width: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  -o-border-radius: 20px
  border-radius: 20px
  padding: 0
  margin: 0
  border-color: #999
  background-color: #aaa

.sequence-diagram .interaction.lost .occurrence.icon::before
  content: ''

.sequence-diagram .message,.sequence-diagram .message canvas
  position: absolute

.sequence-diagram .message
  height: 20px

.sequence-diagram .message .name
  margin-top: -10px
  text-align: center

.sequence-diagram .message.lost .icon
  background-color: gray
  border: 1px solid #444

.sequence-diagram .message.create .name::before
  content: '<<create>>'

.sequence-diagram .message.return
  margin-top: -10px

.sequence-diagram .fragment>.reply
  margin-bottom: .5em

.sequence-diagram .message.return .name::before
  content: '<<return>>'

.sequence-diagram .message.destroy .name::before
  content: '<<destroy>>'

.sequence-diagram .fragment
  margin: 4px 4px 8px 4px
  padding: 4px
  border: solid 1px #aaa
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  -o-border-radius: 2px
  border-radius: 2px

.sequence-diagram .fragment .header .name
  color: #000
  font-weight: 700

.sequence-diagram .fragment .header .condition
  color: #000
  font-weight: 400

.sequence-diagram .fragment.alt>.condition
  color: #000
  font-weight: 400
  margin-bottom: -.5em

.sequence-diagram .fragment.alt div.divider
  border-bottom: 1px dashed #555
  margin: 4px -4px 4px -4px

.sequence-diagram .ref
  position: relative
  margin: 4px
  padding: 4px
  padding-bottom: 1em
  background-color: #fff
  border: solid 1px black

.sequence-diagram .ref .tag
  color: #000
  font-weight: 700

.sequence-diagram .ref .name
  text-align: center

.sequence-diagram .object .name,.sequence-diagram .occurrence,.sequence-diagram .ref
  -webkit-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -moz-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  -o-box-shadow: 10px 5px 5px rgba(0,0,0,.33)
  box-shadow: 10px 5px 5px rgba(0,0,0,.33)

.sequence-diagram .object
  -text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,.15)

