_box-shadow(a, h, v, c)
  -webkit-box-shadow a h v rgba(0,0,0,c)
  -moz-box-shadow    a h v rgba(0,0,0,c)
  -o-box-shadow      a h v rgba(0,0,0,c)
  box-shadow         a h v rgba(0,0,0,c)

box-shadow()
  _box-shadow(8px, 5px, 10px, .22)

border_width = 2px
obj_inner_width  = 88px
occur_width = 12px
msg_shift_top = -0.85em

primary-border()
  border border_width solid #808080

.sequence-diagram
  font-family Tahoma,Verdana

  .participant
    display inline-block
    background-color #fff
    primary-border()
    min-height 31px
    .name
      display inline-block
      margin 8px 0  // looks vertical centering
      padding 0px 4px
      min-width obj_inner_width
      max-width obj_inner_width*2
      text-align center
      word-break break-all

  .lifeline,
  .lifeline .line,
  .occurrence,
  .interaction,
  .ref,
  .stop
    position relative
  
  .message,
  .message svg
    position absolute
  
  .message svg.arrow
    line
      stroke gray
      stroke-width 1.5
    polyline
      stroke gray
      fill gray
      stroke-width 1.5
      stroke-linejoin round

  .message.create svg.arrow,
  .message.asynchronous svg.arrow,
  .message.return svg.arrow
    polyline
      fill none
    polyline.closed
      stroke none

  .message.self svg.arrow
    polyline
      fill none
    polyline.head
      fill gray

  .message.create svg.arrow line,
  .message.return svg.arrow line
    stroke-dasharray 8,8

  .lifeline .line
    margin-left 50%
    left 1px
    height 100%
    border-left dashed 1px gray

  .occurrence
    width occur_width
    padding 1em 0 1em 0
    margin-top 4px
    primary-border()
    background-color lightgray
    z-index 1

  .creating
    margin-bottom 40px

  .interaction
    &.lost .occurrence.icon
      height 20px
      width 20px
      -moz-border-radius 20px
      -webkit-border-radius 20px
      -o-border-radius 20px
      border-radius 20px
      padding 0
      margin 0
      border-color #999
      background-color #aaa

    &.activated
      margin-top 0px

    &.lost .occurrence.icon::before
      content ''

    &:not(:last-child).reply
      margin-bottom 16px

    &.reply > .occurrence
      padding-bottom 1.44em*1.44

    &:not(.activated) .occurrence .note:nth-child(1)
      margin-top 1px + border_width

  .message
    // This value is depended by arrow's shape
    height 20px

    .name
      margin-top msg_shift_top
      text-align center

    &.create + .occurrence
      padding 7px 0 7px 0

    &.lost .icon
      background-color gray
      border 1px solid #444

    &.name::before
      content '«create»'

    &.return
      margin-top -10px

    &.return .name:empty
      position relative
      top -8px
  
    &.return .name::before
      display block
      content '«return»'

    &.destroy .name::before
      content '«destroy»'

  .creating .message.return
    margin-top 12px + 4px - 1px


  .fragment
    margin 4px 4px 8px 4px
    padding 4px
    border solid 1px #aaa
    -moz-border-radius 2px
    -webkit-border-radius 2px
    -o-border-radius 2px
    border-radius 2px
  
    & > .reply
      margin-bottom .5em

    & .header .name
      color #000
      font-weight 700

    & .header .condition
      color #000
      font-weight 400

    &.alt>.condition
      color #000
      font-weight 400
      margin-bottom -.5em

    &.alt div.divider
      border-bottom 1px dashed #555
      margin 4px -4px 4px -4px

    &.alt
      .condition + .interaction
        .message
          margin-top 10px
          //background-color #fbb

    .header + .note
      margin-top 2px

  .ref
    min-width 128px
    margin 4px
    padding 4px
    padding-bottom 1em
    background-color #fff
    border solid 1px black

    .tag
      color #000
      font-weight 700

    .name
      text-align center

  .self .message + .occurrence
    > .ref, .interaction
      margin-top 10px
      padding-top 6px
      padding-bottom 6px

  .self .message
    line-height 12px

  .participant,
  .occurrence,
  .ref
    box-shadow()

  .note
    margin-top -100%
    margin-bottom 1em
    margin-left occur_width + border_width*2
    min-width 128px
    .name
      primary-border()
      background-color #fff
      padding 4px
