_box-shadow(a, h, v, c)
  -webkit-box-shadow a h v rgba(0,0,0,c)
  -moz-box-shadow    a h v rgba(0,0,0,c)
  -o-box-shadow      a h v rgba(0,0,0,c)
  box-shadow         a h v rgba(0,0,0,c)

box-shadow()
  _box-shadow(8px, 5px, 10px, .22)

border_width = 2px
obj_inner_width  = 88px
obj_inner_height = 31px
obj_hpadding = 4px
obj_vpadding = 0px
obj_outer_width = (border_width + obj_hpadding)*2 + obj_inner_width
occur_width = 12px
msg_shift_top = -10px

primary-border()
  border border_width solid #808080

.sequence-diagram
  font-family Tahoma,Verdana

  .participant
    position relative
    width obj_outer_width
    background-color #fff
    .name
      primary-border()
      text-align center
      padding obj_vpadding obj_hpadding
      min-width obj_inner_width
      height    obj_inner_height
      line-height obj_inner_height

    &:not(:first-child)
      margin-top -(border_width*2 + obj_inner_height)

  .lifeline,
  .lifeline .line,
  .occurrence,
  .interaction,
  .ref,
  .stop
    position relative
  
  .message,
  .message canvas
    position absolute

  .lifeline .line
    margin-left 50%
    left 1px
    height 100%
    z-index -10
    border-left dashed 1px gray

  .occurrence
    width occur_width
    padding: 1em 0 1em 0
    margin-top: 4px
    primary-border()
    background-color: lightgray
    z-index: 1

  .creating
    margin-bottom 40px

  .interaction
    &.lost .occurrence.icon
      height: 20px
      width: 20px
      -moz-border-radius: 20px
      -webkit-border-radius: 20px
      -o-border-radius: 20px
      border-radius: 20px
      padding: 0
      margin: 0
      border-color: #999
      background-color: #aaa

    &.activated
      margin-top 0px

    &.lost .occurrence.icon::before
      content: ''

    &:not(:last-child).reply
      margin-bottom 16px

    &.reply > .occurrence
      padding-bottom 1.44em*1.44

  .message
    // This value is depended by arrow's shape
    height: 20px

    .name
      margin-top msg_shift_top
      text-align: center

    &.create + .occurrence
      padding: .5em 0 .5em 0

    &.lost .icon
      background-color: gray
      border: 1px solid #444

    &.name::before
      content: '«create»'

    &.return
      position relative
      height auto

    &.return .name:empty
      position relative
      top -8px
  
    &.return .name::before
      display block
      content: '«return»'

    &.destroy .name::before
      content: '«destroy»'

  .fragment>.reply
    margin-bottom: .5em

  .fragment
    margin: 4px 4px 8px 4px
    padding: 4px
    border: solid 1px #aaa
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    -o-border-radius: 2px
    border-radius: 2px

  .fragment .header .name
    color: #000
    font-weight: 700

  .fragment .header .condition
    color: #000
    font-weight: 400

  .fragment.alt>.condition
    color: #000
    font-weight: 400
    margin-bottom: -.5em

  .fragment.alt div.divider
    border-bottom: 1px dashed #555
    margin: 4px -4px 4px -4px

  .fragment.alt
    .condition + .interaction
      .message
        margin-top 10px
        //background-color #fbb

  .ref
    min-width 128px
    margin 4px
    padding 4px
    padding-bottom 1em
    background-color #fff
    border solid 1px black

  .ref .tag
    color: #000
    font-weight: 700

  .ref .name
    text-align: center

  .self .message + .occurrence
    > .ref, .interaction
      margin-top 10px
      .header
        float left
      padding-top 6px
      padding-bottom 6px

  .self .message
    line-height 12px

  .participant .name,
  .occurrence,
  .ref
    box-shadow()

  .note
    margin-top 1px + msg_shift_top
    margin-bottom msg_shift_top*-1
    margin-left occur_width + border_width*2
    min-width 128px
    .name
      primary-border()
      background-color #fff
      padding 4px
  
  .interaction:not(.activated) .occurrence .note:nth-child(1)
    margin-top 1px + border_width

  .fragment
    .header + .note
      margin-top 2px
