@import "_commons";
/*-------- icon.css --------*/
@mixin icon-squaresize {
	width : 24px;
	height: 24px;
}
.icon {
    $bgcolor: gray;
    .square {
        @include icon-squaresize;
        margin-left: 6px;
        position: relative;
        background-color: $bgcolor;
        @include border_radius;
        &.cross {
            width: 4px;
            margin-left: 4px;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            @include transform_rotate(90deg);
            background-color: $bgcolor;
        }
    }
    .stop {
        @include icon-squaresize;
        .square.cross {
            @include transform_rotate;
        }
    }
}
