.usecase-diagram.layout-a {
  .usecase {
    &:nth-child(odd) > .icon {margin-left: auto;}
    &:nth-child(even) > .icon {margin-right: auto;}
  }
  .actor {
    &:nth-child(odd) {float: left;}
    &:nth-child(even) {float: right;}
    position: relative;
  }
  .extend, .include, .use {
    .name {
      &:before {
        left: 45%; top: 45%;
        position: absolute;
      }
    }
  }
  .system-boundary {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    > .name {
      font-weight: bold;
    }
    .usecase:nth-child(4n + 2) .icon {margin-left:4px;}
    .usecase:nth-child(3)      .icon {margin-right:4px;}
    .system-boundary {
      margin-top: 4px;
      width: 95%;
    }
    &.out-of-bounds {
      border-width: 0;
      border-color: transparent;
      box-shadow: none;
      width: 0px;
      height: 0px;
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}