doctype 5
head
  meta(charset='utf-8')
  title experimental for jumly
  meta(name="viewport", content="width=device-width,initial-scale=1.0")
  !=css('jumly')
body
  // This node is evaluated at onLoad event
  script(type="text/jumly+sequence") @found "a0"

  // These two nodes are evaluated by 1st JUMLY.scan
  div(data-jumly="text/jumly+sequence")@found "a1"
  div(data-jumly="text/jumly+sequence")@found "a2"

  script(src='/public/js/_ga.js')
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='http://coffeescript.org/extras/coffee-script.js')
  !=js('jumly')

  :coffeescript
    # Initial scan
    JUMLY.scan()

    # Second or more scan
    i = 3
    f = ->
      $("body").append """<div data-jumly="text/jumly+sequence">@found "a#{i++}"</div>"""
      JUMLY.scan -> (d, $n)-> $n.hide().before d
      setTimeout f, 500 if i <= 5

    setTimeout f, 1000
