@import url("http://fonts.googleapis.com/css?family=Coda:800|Questrial|Michroma");
@import url("bootstrap/docs/assets/css/bootstrap.css");
@import url("syntaxhighlighter/styles/shCore.css");
@import url("syntaxhighlighter/styles/shThemeDefault.css");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Questrial;
  font-weight: extra-bold;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  font-family: Coda, Tahoma, sans-serif;
}
